* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: calc(100vh - 50px);
    display: flex;
}

.row-float::after {
    display: table;
    content: "";
    clear: both;
}

.row-flex {
    display: flex;
    width: 100%;
    height: 100%;
}

/* ----------------------SIDEBAR--------------------------- */
.sidebar {
    height: 100%;
    background-color: #000;
    width: 200px;
    color: #fff;
}

.sidebar-box-1 ul {
    list-style: none;
}

.post-media-query {
    width: 20px;
    display: none ;
}

.sidebar>.row-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.sidebar-box-1 {
    flex-grow: 1;
}

.sidebar-box-1 #logo,
.sidebar-box-1 h3,
.sidebar-box-1 li {
    padding-left: 15px;
}

.sidebar-box-1 #logo {
    width: 120px;
}

.sidebar-box-1 .interfaces li {
    margin: 8px 0;
}

.sidebar-box-1 .interfaces li:hover {
    color: #fff;
    border-left: 1px solid greenyellow;
}

.sidebar-box-1 .playlist li {
    margin: 10px 0;
}

.sidebar-box-1 .playlist li:hover,
.sidebar-box-1 .playlist h3:hover {
    color: #fff;
}

.sidebar-box-1 .interfaces, 
.sidebar-box-1 .playlist,
.sidebar-box-1 h3  {
    margin: 10px 0;
    font-size: 10px;
    color: #aaa;
}

.sidebar-box-1 .interfaces img{
    width: 20px;
    vertical-align: middle;
}

.sidebar-box-1 .playlist #playlist {
    color: #fff;
}

.sidebar-box-1 .playlist #plus {
    margin-bottom: 20px;
}

.sidebar .playlist #plus::before {
    content: "\f067";
    color: #000;
    background-color: #aaa;
    padding: 6px 7px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
}


.sidebar-box-2 {
    padding-left: 15px;
}

.sidebar-box-2 img {
    width: 15px;
    vertical-align: middle;
}

.sidebar-box-2 .download {
    font-size: 10px;
    color: #aaa;
    margin-bottom: 5px;
}

.sidebar-box-2 .download-logo {
    width: 10px;
}


.sidebar-box-2 hr {
    border: #aaa solid 0.5px ;
}

.sidebar-box-2 .profile {
    margin-top: 5px;
    font-size: 12px;
}

.sidebar-box-2 .profile-logo {
    background-color: #aaa;
    border-radius: 50%;
    width: 12px;
}

/* ----------------------MAIN-CONTENT----------------------- */
.main-content {
    height: 100%;
    width: calc(100% - 200px);
}

/* BOX-HEADER  */
.box-header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #080b12;
    color: #fff;
    opacity: 0.99;
    z-index: 1000;
}

.box-header p {
    position: fixed;
    right: 0;
    top: 10px;
    font-size: 8px;
    padding: 8px 20px;
    border: #fff solid 1px;
    border-radius: 20px;
    z-index: 1001;
}

.box-header p:hover {
    font-size: 10px;
}

/* BOX-MAIN  */
.box-main {
    height: 100%;
    overflow-y: auto;
    background-color: #141922;
    padding-top: 50px;
    color: #fff;
}

.box-main nav {
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    color: #aaa;
    margin-bottom: 30px;
}

.box-main nav ul {
    list-style: none;
}

.box-main nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.box-main nav ul li span {
    border-bottom: 1px solid #141922;
}

.box-main nav ul li span:hover {
    border-color: greenyellow;
    color: #fff;
}

.box-main h3,
.box-main h2 {
    margin: 5px 0;
    color: #fff;
}

.recently-played h2 {
    margin-bottom: 20px;
}

.recently-played,
.for-John,
.popular {
    margin-left: 20px;
    margin-bottom: 20px;
}

.for-John>h3,
.popular>h3 {
    margin-bottom: 20px;
    font-size: 10px;
    color: #aaa;
}

.song-artist {
    float: left;
    width: calc(100% / 7);
    margin-right: 20px;
    font-size: 70%;
    text-align: center;
}

.song-artist:hover {
    text-decoration: underline;
}


.song-artist p {
    color: #aaa;
    font-size: 9px;
}

.song-artist i {
    display: none;
    font-size: 50px;
}

.song-artist .img {
    position: relative;
    display: inline-block;
}

.song-artist .img:hover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: inline-block;

}

.song-artist img {
    width: 100%;
    position: relative;
    display: inline-block;
}

.song-artist img:hover {
    filter: brightness(50%);
}

.popular img {
    border-radius: 50%;
}


/* -------------------------FOOTER------------------------------ */

footer {
    height: 50px;
    background-color: #282828;
    color: #fff;
}

footer .row-flex {
    justify-content: space-between;
    background-color: #282828;
}


.footer-left,
.footer-right {
    width: 200px;
    max-width: calc(100% / 3);
    height: 100%;
}

.footer-left .row-flex {
    display: flex;
    align-items: center;
    padding: 0 5px;
    justify-content: space-between;
}

.footer-left img {
    width: 20%;
}

.footer-left .footer-left-text {
    font-size: 9px;
    padding-right: 50px;
}

.footer-left .footer-left-icons {
    font-size: 12px;
}

.footer-center {
    width: calc(100% - 400px);
    flex-grow: 1;
    height: 100%;
    padding: 2px 0;
}

.footer-center .row-flex {
    flex-direction: column;
    justify-content: center;
}

.footer-center .icon-top,
.footer-center .icon-bottom {
    width: 100%;
    height: 50%;
    text-align: center;
}

.footer-center .icon-top i {
    padding: 2px 5px;
    font-size: 10px;
    vertical-align: middle;
}

.footer-center .icon-top .fa-play-circle {
    font-size: 17px;
}

.footer-center .icon-bottom .time {
    display: inline-block;
    padding: 0 5px;
    font-size: 9px;
}

.footer-center .icon-bottom input {
    width: 50%;
    vertical-align: middle;
}

.footer-right .row-flex {
    align-items: center;
}

.footer-right .fas {
    margin-left: 10px;
    font-size: 10px;
}

.footer-right input {
    width: 60%;
    margin-left: 5px;
}

.footer-left-text:hover {
    text-decoration: underline;
}

.footer-left i:hover,
.footer-center i:hover,
.footer-right i:hover {
    color: greenyellow;
}


/* ------------------------------MEDIA QUERY--MEDIUM----------------------- */
@media screen and (min-width:575px) and (max-width:1060px) {

    .box-main .song-artist {
        width: calc(100% / 5);
    }

    .song-artist {
        margin-bottom: 100px;
    }

    .song-artist.stranger {
        margin-bottom: 0;
    }

}

/* ------------------------------MEDIA QUERY--MOBILE----------------------- */
@media screen and (max-width: 574px) {
    
    .sidebar {
        width: 50px;
        transition: all 0.3s;
    }


    .sidebar .row-flex {
        margin: 0 auto;
    }

    .sidebar .pre-media-query {
        display: none;
    }

    .sidebar .post-media-query {
        display: block;
    }

    .sidebar-box-1 {
        margin: 0 auto;
    }

    .sidebar-box-2 .post-media-query .download-logo {
        width: 12px;
        margin-bottom: 10px;
    }

    .sidebar-box-2 .post-media-query .profile-logo {
        width: 15px;
    }

    
    .main-content {
        flex-grow: 1;
    }
    
    .box-main .song-artist {
        width: calc(100% / 2.5);
    }

    .footer-left .footer-left-text {
        font-size: 7px;
        padding-right: 30px;
    }


}
