* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}


main {
    height: calc(100vh - 50px);
    display: flex;
}

.sidebar {
    height: 100%;
    background-color: #000;
    width: 200px;
}

.main-content {
    height: 100%;
    width: calc(100% - 200px);
    position: relative;
}

.box-header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #080b12;
}

.box-main {
    overflow: auto;
    margin-top: 50px;
    height: calc(100% - 50px);
    background-color: #141922;

}


footer {
    height: 50px;
    background-color: #282828;
}


@media screen and (max-width: 574px) {
    
    .sidebar {
        width: 50px;
    }

    .main-content {
        flex-grow: 1;
    }
}